<head>
 <link href="../assets/stylesheets/index.css" rel="stylesheet">
</head>

<body>

<header>
    <def class="head">Books</def>
</header>

<table>
  <thead>
    <tr>
     <th>Title</th>
     <th>Body</th>
     <th colspan="3"></th>
    </tr>
  </thead>

<!-- ここから、ループ処理の記述 -->
<tbody>
    <tr>
        <td>test</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
    </tr>
</tbody>


</table>

<h2>Newbook</h2>

<!-- ここに新規投稿機能 -->





</body>


